<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ shop.name }}</title>
    <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}">
    {{ content_for_header }}
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
